.header {
    height: 10px;
    background-color: #0E1013;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    float: right;
    justify-content: flex-end;
    text-align: right;
}

.header-button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 15px;
}

.header-button:hover {
    color: #6d6d6d;
}